
@font-face {
  font-family: 'COM4tSansMedium';
  src: url('COM4tSansMedium.eot?#iefix') format('embedded-opentype'),  url('COM4tSansMedium.woff') format('woff'), url('COM4tSansMedium.ttf')  format('truetype'), url('COM4tSansMedium.svg#COM4tSansMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}


